.sseMainBlock {
  width: 100%;
  box-sizing: border-box;

  nav {
    margin-top: 35px;
    margin-left: 29px;
    display: flex;
    column-gap: 35px;
  }

  .tab {
    margin-top: 15px;
    margin-left: 29px;
  }

}
