<main class="sseMainBlock">
    <nav>
        <button type="button" class="btn btn-success" (click)="subscribeToSse()">
            {{ 'Subscribe to SSE' | translate }}
        </button>
    </nav>

    <mefdev-card-simple>
        <h3> Send SSE Event </h3>
        <article class="row h-100">
            <div class="col-lg-11">
                <input type="text" class="form-control" [(ngModel)]="messageSseData">
            </div>
            <div class="col-lg-1">
                <button type="button" class="btn btn-success" (click)="sendSseEvent()"> Send </button>
            </div>
        </article>
    </mefdev-card-simple>

    <mefdev-card-simple>
        <h3> Event Records </h3>
        <ul>
            <li *ngFor="let item of recordsOfSSe">
                <ngx-json-viewer [json]="item"></ngx-json-viewer>
            </li>
        </ul>
    </mefdev-card-simple>
</main>
