.sseMainBlock {
  font-family: Arial, sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

}
