.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px;

  h3 {
    font-family: "Arial Black", sans-serif;
  }

  .card {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 700px;

    h2 {
      color: #333;
      margin-bottom: 15px;
    }

  }
}
