<div class="data-container">
    <div *ngIf="data | async as dataValue" class="card">
        <h2>Основні дані</h2>
        <div class="content">
            <div class="item" *ngFor="let key of getTableKeys(dataValue)">
                <span class="key">{{ key }}</span>:
                <span class="value">{{ dataValue[key] !== null ? dataValue[key] : 'Нема значення' }}</span>
            </div>
        </div>
    </div>

    <div *ngIf="pluginData | async as pluginDataValue" class="card">
        <h2>Дані плагіну</h2>
        <div class="content">
            <ng-container *ngFor="let plugin of pluginDataValue">
                <div class="plugin-item">
                    <div *ngFor="let key of getTableKeys(plugin)">
                        <span class="key">{{ key }}</span>:
                        <span class="value">{{ plugin[key] !== null ? plugin[key] : 'Нема значення' }}</span>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
