<header class="h_eader">
    <nav>
        <button class="button" routerLink="platform-data" routerLinkActive="active-link">
            {{ 'platform-data' | translate }}
        </button>
        <button class="button" routerLink="plugin-info" routerLinkActive="active-link">
            {{ 'plugin-info' | translate }} (get)
        </button>
        <button class="button" routerLink="plugin-api" routerLinkActive="active-link">
            {{ 'plugin-api' | translate }} (post)
        </button>
        <button class="button" routerLink="sse" routerLinkActive="active-link">
            {{ 'Sse' | translate }}
        </button>
    </nav>
</header>
<router-outlet></router-outlet>
