<main class="main-container">
    <h3 class="text-center"> This page offers crucial and fundamental details about our plugin </h3>
    <h3 class="text-center"> Mode: {{ mode }} </h3>

    <section *ngIf="pluginData" class="section-card">
        <h3>PluginData</h3>
        <ngx-json-viewer [json]="pluginData"></ngx-json-viewer>
    </section>

    <section *ngIf="assetUrl" class="section-card">
        <h3>AssetUrl</h3>
        <ngx-json-viewer [json]="assetUrl"></ngx-json-viewer>
    </section>

    <mefdev-collapse-set [Accordion]="true" *ngIf="pluginLocalData">
        <mefdev-collapse>
            <ng-template #CardTitle>
                Deprecated IPLuginData interface
            </ng-template>
            <section *ngIf="assetUrl" class="section-card">
                <ngx-json-viewer [json]="pluginLocalData"></ngx-json-viewer>
            </section>
        </mefdev-collapse>
    </mefdev-collapse-set>
</main>
